<link rel="stylesheet" href="../../../styles/add_book.css" />

<h1>Add Book</h1>

<form name="myForm" class="my-form" ng-submit="addBook($event)" novalidate>
  <div class="add-form">
    <form-field label="Name" name="name" model="newBook.name" required="true"></form-field>
    <div class="input-box">
      <label for="author">Author:</label>
      <input
        type="text"
        id="author"
        name="author"
        ng-model="newBook.author"
        ng-required="true"
      />
      <span
        class="error"
        ng-show="myForm.author.$error.required && myForm.author.$touched"
        >Author name is required</span
      >
    </div>
    <div class="input-box">
      <label for="count">Category:</label>
      <select name="" id="" ng-model="newBook.category">
        <option value="">Select</option>
        <option value="{{category}}" ng-repeat="category in categories">
          {{category}}
        </option>
      </select>
    </div>
    <div class="input-box">
      <label for="count">Shelf:</label>
      <select name="" id="" ng-model="newBook.shelf">
        <option value="">Select</option>
        <option value="{{shelf}}" ng-repeat="shelf in shelves">
          {{shelf}}
        </option>
      </select>
    </div>
    <div class="input-box">
      <label for="count">Lended:</label>
      <input type="number" id="count" ng-model="newBook.lended" />
    </div>
    <div class="input-box">
      <label for="count">Remaining:</label>
      <input type="number" id="count" ng-model="newBook.remaining" />
    </div>
    <div class="input-box">
      <label for="count">Date:</label>
      <input type="date" id="count" ng-model="newBook.date" />
    </div>
  </div>
  <div class="btn">
    <button
      type="submit"
      title="Fill form to submit"
      ng-disabled="myForm.$invalid"
      disabled="true"
    >
      Submit
    </button>
  </div>
</form>
