<link rel="stylesheet" href="../../../styles/add_book.css" />

<h1>Add Book</h1>

<form name="myForm" class="my-form" ng-submit="addBook($event)" novalidate>
  <div class="add-form">

    <form-field form="myForm" label="Name" type="text" name="name" model="newBook.name" required="true"></form-field>

    <form-field form="myForm" label="Author" type="text" name="author" model="newBook.author" required="true"></form-field>

    <form-field form="myForm" label="Category" name="category" model="newBook.category" required="true" select="true" options="categories"></form-field>

    <form-field form="myForm" label="Shelf" name="shelf" model="newBook.shelf" required="true" select="true" options="shelves"></form-field>

    <form-field form="myForm" label="lended" type="number" name="lended" model="newBook.lended" required="true"></form-field>

    <form-field form="myForm" label="remaining" type="number" name="remaining" model="newBook.remaining" required="true"></form-field>
    
    <form-field form="myForm" label="date" type="date" name="date" model="newBook.date" required="true"></form-field>

  </div>
  <div class="btn">
    <button
      type="submit"
      title="Fill form to submit"
      ng-disabled="myForm.$invalid"
      disabled="true"
    >
      Submit
    </button>
  </div>
</form>
