h1 {
  margin-bottom: 0.5em;
}

.add-form {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 1.5em;
  row-gap: 2em;
}

.input-box {
  display: grid;
  gap: 0.5em;
}

.input-box label {
  font-size: 17px;
}

.input-box input,
.input-box select {
  padding: 0.75em;
  border-radius: 5px;
  border: thin solid grey;
  outline: none;
}

.input-box select option {
    color: var(--main-color);
    padding: 0.5em;
}

.btn {
  display: flex;
  justify-content: center;
  padding-block: 2em;
}

.btn button {
  padding: 0.75em 1em;
  color: white;
  border-radius: 5px;
  border: none;
  background-color: var(--main-color);
  width: min(100%, 400px);
  cursor: pointer;
}
