@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lisu+Bosa:wght@200;300&family=Roboto+Slab:wght@300&family=Ubuntu:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

:root {
  --main-color: rgb(11, 117, 92);
}

body {
  font-family: "Libre Baskerville", serif;
  /* font-family: 'Lisu Bosa', serif; */
  /* font-family: 'Roboto Slab', serif; */
  /* font-family: 'Ubuntu', sans-serif; */
}

.main-area {
  padding: 1em;
}
